.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .mobile-menu,
  .mobile-cart {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .header-content-wrapper {
    display: flex;
  }

  .header-menu__ul {
    column-gap: 35px;
  }

  .header-menu__li {
    cursor: pointer;
  }

  .header__contact-btn {
    font-size: 18px;
    padding: 10px 20px;
  }

  .header__phone-svg {
    width: 20px;
    height: 20px;
  }

  .header-mobile {
    display: none;
  }

  .mobile-menu,
  .mobile-cart {
    display: none;
  }

  .overlay {
    display: none;
  }

  /*  home section  */

  .wrapper {
    flex-direction: row;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}